/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
    list-style-type: none;
}
ul#nav-mobile.side-nav{
    transform: translateX(-100%);
}

img.logo {
    height: 50px;
    margin-top: 10px;
}
a#download-button.btn-large.waves-effect.waves-light {
    margin-left: 15px;
}
.parallax img {
    min-width:0;
    padding: 5px;
}
div.slider{
    display: none;
}
img.circuito-rotilio{
    width: 70%;
}
img.circuito-pro{
    width: 50%;
}
li.title{
    list-style-type: none !important;
    margin-top: 20px;
}
li{
    list-style-type: disc !important;
    line-height: 2rem;
    font-size: large;
}
img#rotilio{
    opacity: 0.4;
}

@media only screen and (max-width: 1024px) {

    h1.header.center.home{
        margin-top: 2rem !important;
    }

}
@media only screen and (max-width: 736px) {
    div.slider{
        display: block;
        z-index: 0;
    }
    #sidenav-overlay{
        display: none !important;
    }

    ul#talk{
        margin-left: 0 !important;
    }
    .slider .indicators .indicator-item.active{
        background-color: #FC4F4F;
    }
    div#index-banner.parallax-container{
        display: none;
    }
    h1.header.center.home{
        margin-top: 4rem !important;
    }
    h1.header.center.subhome{
        margin-top: -1rem !important;

    }
    h1.header.center{
        font-size: 2.2rem !important;
        margin-top: -4rem !important;

    }
    h5.header.col.s12{
        font-size: 1.2rem !important;
    }
    img.circuito-rotilio{
        margin-left: 50px;
    }
    img.circuito-pro{
        margin-left: 100px;
    }
    a#download-button.btn-large.waves-effect.waves-light{
        margin-top: 5px;
        margin-left: 0;
    }
}
@media only screen and (max-width: 375px) {
    h1.header.center.home{
        margin-top: 3rem !important;
    }
    h1.header.center.subhome{
        margin-top: -1rem !important;

    }
    h1.header.center{
        font-size: 2rem !important;
        margin-top: -4rem !important;

    }
    h5.header.col.s12{
        font-size: 1.2rem !important;
    }
    a#download-button.btn-large.waves-effect.waves-light{
        line-height: 14px;
        padding: 15px;
    }
    @media only screen and (max-width: 320px) {
        a#download-button.btn-large.waves-effect.waves-light{
            line-height: 24px;
            padding: 10px;
        }
    }
    img.circuito-pro{
        margin-left: 80px !important;
    }
}
p {
    line-height: 2rem;
    font-size: large;
}

h5.header.col.s12.light {
    color: whitesmoke;
}

.button-collapse {
    color: #fc4f4f;
}

.btn-large {
    background-color: #fc4f4f;
    height: 44px;
    line-height: 44px;
    z-index: 0;
}

.btn-large:hover {
    background-color: #fc4f4f;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

footer.page-footer {
    background-color: #fc4f4f;
}

.material-icons {
    color: #fc4f4f;
}

.page-footer {
    max-height: 20%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}