            <footer class="bg-primary pt96 pb96 pt-xs-48 pb-xs-48">
                <div class="container">
                    <div class="row mb64 mb-xs-32">
                        <div class="col-md-5 text-right text-left-xs">
                            <h2 class="uppercase bold italic">Let's<br>start up!</h2>
                        </div>
                        <div class="col-md-2 hidden-sm hidden-xs text-center pt48">
                            <i class="icon icon-lg ti-bolt display-block"></i>
                        </div>
                        <div class="col-md-5 col-sm-6">
                            <p class="lead">Techmakers srl <br>Sede operativa: Via Palestro n. 45R, Genova<br>Sede legale: Via Privata Fratelli Gabba n. 5, Milano<br></p>
                            <h4 class="mb8">e-mail info@techmakers.io</h4><h4 class="mb8">tel +39 010 8315289<br></h4>
                            
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                            <p class="fade-1-4">© 2015 Techmakers srl  | p.iva 08874730966<br> REA CCIAA Milano n. 2054539 | <a href="http://www.coqoclock.com/">Credits</a><br></p><ul class="list-inline social-list mb0">
                                
                                <li><a href="https://www.facebook.com/techmakers.io/" target="_blank"><i class="icon icon-xs ti-facebook"></i></a></li>
                                <li><a href="https://twitter.com/techmakers_io" target="_blank"><i class="icon icon-xs ti ti-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/techmakers?trk=top_nav_home" target="_blank"><i class="icon icon-xs ti ti-linkedin"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>