<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/flexslider.min.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/masonry.min.js"></script>
<script src="js/twitterfetcher.min.js"></script>
<script src="js/spectragram.min.js"></script>
<script src="js/ytplayer.min.js"></script>
<script src="js/countdown.min.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/parallax.js"></script>
<script src="js/scripts.js"></script>

<div data-checkout_button_text="Checkout" data-cart_button_text="Cart" data-button_text_color="ffffff"
     data-button_background_color="7fb466" data-background_color="ffffff" data-text_color="000000"
     data-accent_color="767676" data-cart_title="Your cart"
     data-discount_notice_text="Shipping and discount codes are added at checkout." data-cart_total_text="Total"
     data-sticky="true" data-empty_cart_text="Your cart is empty." data-embed_type="cart"
     data-shop="techmakers-io.myshopify.com"></div>
<script type="text/javascript">
    document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
</script>