<!DOCTYPE html>
<html lang="it">

{% include headpost.html %}

<body>

{% include header.html %}

<div class="page-content">
    <div class="wrapper">
        {{ content }}
    </div>
</div>
<div class="container">
    <div class="row">
        {% include facebook.html %}
        {% include twitter.html %}
    </div>
    <div class="row col-xs-7">
        <div class="fb-comments" data-href="{{ post.url }}" data-mobile="true" data-numposts="5"></div>
    </div>
    <div class="row col-xs-5">
        <a class="twitter-timeline" href="{{ post.url }}" data-widget-id="686489052703535105">Tweet di @techmakers_io</a>
    </div>
    </div>
{% include footer.html %}
</body>

</html>
