---
layout: defaultpost
---
<link rel="stylesheet" href="/test/css/main.css">
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">

        <section class="page-title page-title-4 bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="uppercase mb8">{{ page.title }}</h3>
                        <h5>{{ page.subtitle }}</h5>
                    </div>
                    <div class="col-md-4 text-right">
                        <ol class="breadcrumb breadcrumb-2">
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li class="active">{{ page.title }}</li>
                        </ol>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section><br>
        <div class="container">
            <p class="post-meta">
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b, %-d, %Y" }}
                </time>
               {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                    itemprop="name">{{ page.author }}</span></span>{% endif %}
            </p>
        </div>
    </header>
    <div class="container">
        <div class="post-content" itemprop="articleBody">
            {{ content }}
        </div>
    </div>
</article>
